<article>
  <h1>a pretentious blog</h1>
  <p>
  Hi! This blog is an attempt organize both interests and thoughts in a single place. Above all, to make it something fun! Hopefully, it will also be useful to someone else!
  My interests are few, even so, it's already difficult to keep up with them! It seems life is short and time is limited, so, let's squeeze the most out of it.
</p>
<p>
  Well, most of them are:
  <ul>
    <li>Software Engineering/ Programming</li>
    <li>Ruby and Rails (and everything that comes with them!)</li>
    <li>French</li>
    <li>Japanese</li>
    <li>Soroban</li>
    <li>Books! All sorts of...</li>
    <li>Some science and math!</li>
    <li>Other stuff...</li>
  </ul>
</p>
</article>
