<p>I don't finish all books, those listed here are the ones important for reasons I try to mention.</p>

<h2>Programming</h2>
<ul>
    <li>Eloquent Ruby, by Obie Fernandez</li>
    <li><a href="https://poignant.guide/book/chapter-1.html">Why's Poignant Guide to Ruby</a>, by Why</li>

</ul>

<h2>Fiction</h2>
<ul>
    <li>A Amiga Genial, by Elena Ferrante (all 4 books)</li>
    <li>O Jogo do Anjo, by Carlos Ruiz Zafón (this is my favourite all the series)</li>
    <li>O Prisioneiro do Céu, by Carlos Ruiz Zafón</li>
</ul>

<h2>Religion</h2>
<ul>
    <li>Raising Abel, by James Alison</li>
</ul>

<h2>Biographies</h2>
<ul>
    <li>Einstein, by Walter Isaacson</li>
</ul>