<p>This year it's been about 6 years I've been back and forth with my struggle to learn this fun, tricky, extenuating language... Japanese!</p>

<p>It started in 2020 (or before?) because? I can't remember! But some of it had to do with interest to maybe take one of the <a href="https://www.br.emb-japan.go.jp/itpr_pt/bolsas_programas.html">MEXT</a> exams for a scholarship in Japan, which I never did, but was a great incentive to start.</p>

<p>Time passed but not the interest, however method and consistency have always been complicated balance to achieve. However, over time I believe to have stacked a few interesting resources and since 2025/jan my learning journey has been more stable, even tho not smooth xD</p>

<p>The best guide for complete beginners is (this is a blog, so...my opinion) <a href="https://www.tofugu.com/learn-japanese/">Tofugu's guide</a>. Besides, the <a href="https://www.reddit.com/r/LearnJapanese/comments/fohull/a_year_to_learn_japanese_reflections_on_five/">comprehensive guide</a> by <a href="https://www.reddit.com/user/SuikaCider/">SuikaCider</a> on Reddit is more than worth the read before and while getting started with Japanese.</p> With those two you should have more than enough to be good to go!